<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">

    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <header>
        <div class="navbar">
            <form action="/" method="get">
                <div>
                    <input type="text" name="q" id="user-prompt" placeholder="search...">
                    <div id="advanced-button" class="fake-button">Show advanced</div>
                    <button type="submit" class="fake-button">Search</button>
                </div>
                <div id="advanced-search-options">
                    <label for="search-count">Results:</label>
                    <input type="number" name="search-count" id="search-count">
                    <div id="price-min-value">
                        <label for="price-min">Minimum price:</label>
                        <input type="range" min="0" max="9999" name="price-min" id="price-min">
                        <div id="price-min-number"> -</div>
                    </div>
                    <div id="price-max-value">
                        <label for="price-max">Maximum price:</label>
                        <input type="range" min="0" max="9999" name="price-max" id="price-max">
                        <div id="price-max-number"> </div>
                    </div>
                </div>
            </form>
            <div>
                <a href="{{ url_for('mine') }}" class="link fake-button">My tracked items</a>
            </div>
            <div class="user-details">{% if user_status == 'OK' %}
                <div>Welcome, {{ user_email }}</div>
                {% else %}
                <div>
                    {{ user_status }}
                    <form action="/" method="post">
                        <input type="text" name="user-name" id="user-name" placeholder="name">
                        <input type="password" name="user-password" id="user-password" placeholder="password">
                        <input type="submit" style="display: none" />
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
    </header>
    {% block content %} {% endblock %}
    <footer>
        Made with &#9829; by Radu-Alexandru Popa
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>{% block scripts %} {% endblock %}
</body>

</html>