{% extends "base.html" %} {% block title %} Main page {% endblock %} {% block scripts %} {% endblock %} {% block content %}

<div class="main">
    <h1>YOUR NAME: {{ gettext("Computer") }} </h1>
    <h1>anthony: {{ anthony }} </h1>
    {% if links %}
    <p>Found {{ entry_count }} entries</p>
    <table class="table table-borderless table-responsive my-table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Product name</th>
                <th>Price</th>
                <th>Tracking</th>
            </tr>
        </thead>
        {% for item in links %}
        <tr>
            <td>
                <a href="/item/{{ item.id_ }}">
                    <img src="{{ item.image }}" alt="product image" class="img-fluid" width="20%">
                </a>
            </td>
            <td>
                <a href="{{ item.link }}"> {{ item.title }} </a>
            </td>
            <td>
                {{ item.price }}
            </td>
            <td>
                <form action="{{ url_for('track_item_view_blueprint.track') }}" method="post">
                    {% if item.tracking %}
                    <input type="image" src="{{ url_for('static', filename='images/checkbox_on.svg') }}" alt="tracking" name="unset{{ item.id_ }}" id="item{{ item.id_ }}"> {% else %}
                    <input type="image" src="{{ url_for('static', filename='images/checkbox_off.svg') }}" alt="not tracking" name="set{{ item.id_ }}" id="item{{ item.id_ }}"> {% endif %}
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
{% endblock %}