{% extends "base.html" %} {% block title %} Main page {% endblock %} {% block scripts %}
<script src="{{ url_for('static', filename='scripts/index.js') }}" type="module"></script>
<script src="{{ url_for('static', filename='scripts/url.js') }}" type="module"></script>
{% endblock %} {% block content %}
<div class="main">
    Search on emag:
    <form action="/" method="get">
        <div>
            <input type="text" name="q" id="user-prompt">
            <div id="advanced-button" class="fake-button">Show advanced</div>
        </div>
        <div id="advanced-search-options">
            <label for="search-count">Results:</label>
            <input type="number" name="search-count" id="search-count">
            <div id="price-min-value">
                <label for="price-min">Minimum price:</label>
                <input type="range" min="0" max="9999" name="price-min" id="price-min">
                <div id="price-min-number"> -</div>
            </div>
            <div id="price-max-value">
                <label for="price-max">Maximum price:</label>
                <input type="range" min="0" max="9999" name="price-max" id="price-max">
                <div id="price-max-number"> </div>
            </div>
        </div>
        <button type="submit">Search</button>
    </form>
    {% if links %}
    <p>Found {{ entry_count }} entries across {{ page_count }} pages</p>
    <table class="table table-borderless table-responsive my-table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Product name</th>
                <th>Price</th>
            </tr>
        </thead>
        {% for item in links %}
        <tr>
            <td>
                <img src="{{ item['image'] }}" alt="product image" class="img-fluid" width="20%">
            </td>
            <td>
                <a href="{{ item['link'] }}"> {{ item['title'] }} </a>
            </td>
            <td>
                {{ item['price'] }}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
{% endblock %}
