{% extends "base.html" %} {% block title %} My trackings {% endblock %} {% block content %}
<div class="main">
    {% if user.ok %} {% if links %}
    <p>Found {{ entry_count }} entries</p>
    <p>My trackings:</p>
    <table class="table table-borderless table-responsive my-table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Product name</th>
                <th>Price</th>
                <th>Tracking</th>
            </tr>
        </thead>
        {% for item in links %}
        <tr>
            <td>
                <a href="/item?id={{ item.id_ }}">
                    <img src="{{ item.image }}" alt="product image" class="img-fluid" width="20%">
                </a>
            </td>
            <td>
                <a href="{{ item.link }}"> {{ item.title }} </a>
            </td>
            <td>
                {{ item.price }}
            </td>
            <td>
                <form action="{{ url_for('track_item_view_blueprint.track') }}" method="post">
                    <input type="image" src="{{ url_for('static', filename='images/checkbox_on.svg') }}" alt="tracking" name="unset{{ item.id_ }}" id="item{{ item.id_ }}">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>Click on the checkbox next to an item to add it here</p>
    {% endif %} {% else %}
    <p>Log in first to see your tracked items</p>
    {% endif %}
</div>
{% endblock %}