{% extends "base.html" %} {% block title %} Registration {% endblock %} {% block scripts %} {% endblock %} {% block content %}
<div class="center login">
    <form action="{{ url_for('user_register_view_blueprint.user_register') }}" method="post">
        <div class="formdiv">
            <label for="user-name">Name</label>
            <input type="text" name="user-name" id="user-name" required>
        </div class="formdiv">
        <div>
            <label for="user-password">Password</label>
            <input type="password" name="user-password" id="user-password" required>
        </div>
        <div class="formdiv">
            <label for="user-password">Confirm password</label>
            <input type="password" name="user-password-confirm" id="user-password-confirm" required>
        </div>
        <input type="submit" style="display: none;">
    </form>
    {% if reason %} {{ reason }} {% endif %}
    <div>
        Already have an account? Log in
        <a href="{{ url_for('user_login_view_blueprint.user_login') }}">here</a>
    </div>
</div>
{% endblock %}