* {
    overflow-x: hidden;
}

.main {
    display: flex;
    flex-direction: column;
    margin: 0 5%;
}

.inner {
    display: flex;
}

.links {
    display: flex;
    flex-direction: column;
}

td {
    width: 20%;
}

th {
    text-align: left;
}

.my-table {
    margin: 0 10%;
}

#advanced-search-options {
    display: none;
}

.fake-button {
    background-color: gray;
    border-radius: 10px;
    display: inline;
    padding: 3px 10px;
    border-color: transparent;
}

.fake-button:hover {
    background-color: #909090;
    cursor: pointer;
}

#price-min-number,
#price-max-number {
    position: relative;
    top: -10px;
}

footer {
    display: flex;
    justify-content: center;
}

.navbar {
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    text-decoration: none;
    color: black;
}

form {
    display: inline;
}

.graph-bar {
    background-color: red;
    padding: 6px;
    margin: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.graph {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    word-spacing: 10;
}

.my-table {
    background-color: #87aab4;
    border-radius: 10px;
}

thead {
    background-color: #e1bef3;
}

tr:nth-child(even) {
    background-color: #96c4d3;
}

.side>img,
.side {
    width: 50%;
}