.main {
    display: flex;
    flex-direction: column;
    margin: 0 5%;
}

.links {
    display: flex;
    flex-direction: column;
}

td {
    width: 20%;
}

th {
    text-align: left;
}

.my-table {
    margin: 0 10%;
}